.sectionTitle {
	font-family: 'Righteous', cursive;
	font-size: 5vw;
	text-transform: uppercase;
	color:#F73749;
	text-align: center;
	margin: 0 !important;
	padding: 5px;
	background-color: #FFB839;
}