#funCarousel >*>*>*>*>*{
	background-color: var(--interestsBackground) !important;
}
#funSection {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100vh;
}
#funCarousel > * { /*This was added later*/
	width: 100%;
}
#funSection  > div {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	width: 100%;
}
#funContent {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	background-color:  #79BDB4;
}
#infunContent{
	height: 100%;
	width:100%; /*This was added later*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
#infunContent > div {
	vertical-align: middle;
	margin: auto;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
#funList {
	width: 49%;
	height: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
#funcontainer{
	font-size: calc(5px + 1.7vw);
	margin: auto !important;
	font-family: 'Lato', Arial, sans-serif;
}
#funCarousel {
	width: 49%;
	height: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.funPhotoContainer{
	cursor: -webkit-grabbing;
	cursor: grabbing;
}
@media only screen  and (max-width:600px)  and (orientation: portrait) {
	#funList {
		width: 100%;
		height: 35%;
	}
	#funCarousel {
		width: 100%;
		height: 64%;
	}
	#funcontainer{
		font-size: 3vh;
	}
}