.luxbar-menu-dark {
  opacity: 0.8;
}

.luxbar-navigation {
  justify-content: center !important;
  text-align: center !important;
  overflow-x: hidden  !important;
}

.luxbar-item {
    border-right: 2px solid #FFF;
    white-space: nowrap;
    font-family: 'Righteous', cursive;

}

.luxbar-navigation :last-child {
    border-right: none;
}

.luxbar-item  a {
 padding: 18px 20px 18px 20px !important;
}
