#skillSection {
  display:flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--skillsBackground);
}

#skillSection  > div {
  flex: 1;
  margin: auto;
  justify-content: space-around;
}
/*/space-around.space-between , center*/
#skillContent {
  height:100%;
  display: flex;
  flex-wrap: wrap;
  width:98%;
  margin-left: auto;
  margin-right: auto;
  text-align:center;

}
.animated {
  margin: auto;
}
.iconImage{
  padding: 1vw;
  min-height: 9vh;
  min-width: 9vh;
  height: 6.5vw;
  width: 6.5vw;
  max-height: 160px;
  max-width: 190px;
 }

.icontTitle {
  font-family: 'Righteous', cursive;
  font-size: calc(1.0vw + 6px);
  color:var(--skillText);
  max-width:200px;
}
@media (pointer:fine) {
 .iconImage:hover {
   -webkit-filter: saturate(8);
   filter: saturate(8);
   -webkit-animation: iconbeat 1s infinite alternate;
    animation: iconbeat 1s infinite alternate;
  }
}
@-webkit-keyframes iconbeat {
  to {
    transform: scale(1.3);
  }
}
@keyframes iconbeat{
  to {
    transform: scale(1.3);
  }
}

canvas > * >*>*>*>*>*s {
     /*background-color:red;*/
      background-color: transparent !important;
}