#skillssection {
	width:100%;
}
#skillsContainer{
	width:95%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
  	flex-wrap: wrap ;
	text-align:center ;
	justify-content: center;
}

.iconImage{
	padding: 1.2vw;
	min-height: 10vh;
	min-width: 12vh;
  height: 10vw;
  width: 12vw;
  max-height: 170px;
  max-width: 200px;
 }

.titleIcon {
  font-family: 'Righteous', cursive;
  font-size: calc(1.0vw + 10px);
  color:#F96170;
  max-width:25vw;
}
@media screen and (min-width: 550px){
 .iconImage:hover {
   -webkit-filter: saturate(8);
   filter: saturate(8);
   -webkit-animation: iconbeat 1s infinite alternate;
    animation: iconbeat 1s infinite alternate;
  }
}
@-webkit-keyframes iconbeat {
  to {
    transform: scale(1.3);
  }
}
@keyframes iconbeat{
  to {
    transform: scale(1.3);
  }
}



