#titlesection {
  height:100vh;
  background-color: transparent !important;
}
#title_container {
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/*FOllowing added for parallax - can be deleted if need be*/
/*#coveringCanvas {
  position: relative;
  z-index: 2;
}
*/

#title{
  display: inline-block;
  font-family: 'Knewave', cursive;
  color:#FF1800;
  font-size: 14vw;
  opacity: 0.6;
  line-height: 14vw;
  display: inline-block;
  margin-bottom: 0;
}
.subtitle {
  color:black;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: bold;
  font-size:6vw;
  white-space: nowrap;
}
.titleAnimation {
  -webkit-animation: beat 3s infinite alternate;
  -webkit-animation-delay: 10s;
  animation: beat 3s infinite alternate;
  animation-delay: 4s;
}
@-webkit-keyframes beat {
  to {
    transform: scale(1.06);
    opacity: 0.7;
  }
}
@keyframes beat{
  to {
    transform: scale(1.06);
    opacity: 0.7;
  }
}
@media screen and (max-width: 550px){
  #title{
    font-size: 10vh;
    line-height: 12vh;

  }
  .subtitle {
    font-size:4vh;
  }
}