#titlesection {
  height:100vh;
}
#title_container {
  z-index: 1;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#title{
  display: inline-block;
  font-family: 'Knewave', cursive;
  color:#FF1800;
  font-size: 14vw;
  opacity: 0.6;
  line-height: 17vw;
  display: inline-block;
  margin-bottom: 0;
}
.subtitle {
  color:black;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: bold;
  font-size:6vw;
  white-space: nowrap;
}
.titleAnimation {
  -webkit-animation: beat 3s infinite alternate;
  -webkit-animation-delay: 10s;
  animation: beat 3s infinite alternate;
  animation-delay: 4s;
}
@-webkit-keyframes beat {
  to {
    transform: scale(1.05);
    opacity: 0.7;
  }
}
@keyframes beat{
  to {
    transform: scale(1.05);
    opacity: 0.7;
  }
}

